.cards__like_container {
    margin: 0;
    padding: 0;
    width: 22px;
    height: 35px;
    margin-right: 20px;
    display: -webkit-flex;
    -webkit-justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    display: flex;
    justify-content: center;
}