.cards__like {
    border: none;
    background-image: url('../../../images/cards__like.svg');
    width: 22px;
    height: 19px;
    background-color: transparent;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 0%;
}

.cards__like:hover {
    opacity: .5;
}