.cards__like-count {
    /* display: flex; */
    /* justify-content: center; */
    color: black;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    background-position-x: 50%;
    background-position-y: 0%;
    /* display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center; */
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
}